.card {
    width: 76vw;
    height: 199px;
    display: flex;
    border: 1px solid #E8E7EC;
    background-color: #FFFFFF;
  }
  
  .logo {
    margin-top: 16px;
  }
  
  .content {
    padding: 8px;
  }
  
  .heading {
    width: 115px;
    height: 16px;
    font-size: 16px;
    font-style: Britti Sans;
    font-weight: 500;
    margin-top: 16px;
  }
  
  .tags {
    margin-top: 8px;
    display: flex;
  }
  
  .tag {
    margin-right: 5px;
  }
  
  .details {
    margin-top: 24px;
    display: flex;
    gap: 5px;
  }
  
  .description {
    width: 57.5vw;
    margin-top: 24px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 5px;
    margin-top: 16px;
  }
  
  button {
    width: 120.44%;
    height: 38px;
    margin: 5px;
    border-radius: 8px;
    background-color: #FF9800;
    border: 1px solid #FFFFFF;
    color: #E8E7EC;

  }
  
  .save {
    width: 110px;
    background-color: white;
    border : 1px solid #E8E7EC;
    color: black;
    margin: 2px;
    padding-left: 3px;
  }
  
  .orange{
    background-color: #FFF2E6;
    color: #FF8E22;
  }
  .red{
    background-color: #FDEDF0;
    color: #EA3A59;
  }
  .blue{
    background-color: #E6F0FF;
    color: #2288FF;
  }
  .bg{
    padding: 1px 4px 1px 4px;
    border-radius: 10px;
  }
  .border-left{
    border-right: 1.5px solid #A2A3A7;
    padding-right: 6px;
  }
  